/* This is just an example.  You shouldn't do this. */
#lookmarker-hello
{
  color: red ! important;
}
#lookmarker-toolbar-button
{
  list-style-image: url("chrome://lookmarker/skin/eyeconClear-24.png");
  -moz-image-region: rect(0px 24px 24px 0px);
}
#lookmarker-toolbar-button:hover
{
  list-style-image: url("chrome://lookmarker/skin/eyeconClear-24.png");
  background-color: #000088;
}
